body {
    font-family: 'Roboto', sans-serif;
}
.mifoto{
    display: flex;
    justify-content: center;
}

#nombre{
    width: 100%;
    height: 450px;
    background: white;
    
    
    border: solid 1px;
    padding: 8px;
}
 legend{ 
    color: blue;
 border: solid 1px;
  border-radius: 15px;
  background-color: bisque;
  


 }
 fieldset{ 
    transform: skewY(0deg);

 }
 
 a{
display: block;
width: 90px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
background-color:white;
 }

 .contenedor {
    display: flex;
    justify-content: center;
    grid-area: 10px;
 }
 .contenedor a {
    font-size: 30px;

 }
 .facebook {
    color: blue;
 }
 .instagram {
    color: pink;
 }
 .img {
    justify-content: center;
 }
 a {
   text-decoration: none;
 }
